@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}
.link-header {

   margin-right: 32px; 
   font-size: 14px;
   line-height: 21px;
   letter-spacing: 0.88px;
   align-items: center;
   color:#17233D;
   font-weight: 400;
   cursor: pointer;

}

.button-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    background-color: #6FBF44;
    width: 124px;
    line-height: 51px;
    border: none;
    border-radius: 3px;
    color: #FFFFFF ;
    align-items: center;
    cursor: pointer;


}


img {
    width: 534px;
    height: 467px;
    margin-left: 121px;
    margin-bottom: 102px;
    display: inline-block;
    margin-top: 163px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;

   
}

.button-body {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;

}

div {
    display: inline-block; 
    width: 493px;
    margin-left: 85px;

}

    @media screen and (max-width: 900px) {

        h1 {
            font-weight: 700;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: .6px;
            
        }

        }
    


